@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: "Hubot Sans", serif;
  color: #959da3;
}

.Main-Card {
  color: #333;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 35%;
  height: 80%;
  border: 3px solid #3b3939;
  z-index: 1;
  box-shadow: 0 0 10px #3b3939; /* Added blur to border */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Added blur to the background */
}

.Name-Image {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -185%);
  padding: 20px;
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.Info-Panel {
  z-index: 2;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -185%);
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  height: 20%;
  border-top: 2px solid #555252;
}

.Text-Before-Main {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 24px;
  padding-top: -20px;
  margin-bottom: -5px;
}

.Text-Ul_Decor {
  padding-left: 60px;
  padding-top: -20px;
}

#Name {
  position: absolute;
  font-size: 5.5rem;
  font-weight: 650;
  padding-left: 140px;
  top: -32px; /* Adjust this value to move the text further up or down */
}

#Name-Text-Up, #Info-Text-Up {
  font-weight: 362;
  padding-left: 24px;
  text-decoration-line: underline;
}

#Info {
  position: absolute;
  padding-left: 35px;
  top: 30px;
}

p {
  font-size: 1.05rem;
  font-weight: 800;
}

#Avatar-Image {
  width: 120px;
  height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border-radius: 50%;
  overflow: hidden;
  user-drag: none;
}

html, body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(184, 69, 88), rgb(54, 53, 53));
  z-index: -1;
}

.star {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 284px, 243px, rgba(255, 255, 255, 0.678), 841px, 325px, rgba(255, 255, 255, 0.678), 406px, 296px, rgba(255, 255, 255, 0.678), 1843px, 355px, rgba(255, 255, 255, 0.678), 113px, 600px, rgba(255, 255, 255, 0.678), 1820px, 567px, rgba(255, 255, 255, 0.678), 982px, 201px, rgba(255, 255, 255, 0.678), 295px, 167px, rgba(255, 255, 255, 0.678), 158px, 213px, rgba(255, 255, 255, 0.678), 301px, 587px, rgba(255, 255, 255, 0.678), 1426px, 656px, rgba(255, 255, 255, 0.678), 1460px, 810px, rgba(255, 255, 255, 0.678), 1763px, 600px, rgba(255, 255, 255, 0.678), 323px, 929px, rgba(255, 255, 255, 0.678), 1075px, 694px, rgba(255, 255, 255, 0.678), 1582px, 888px, rgba(255, 255, 255, 0.678), 321px, 964px, rgba(255, 255, 255, 0.678), 84px, 303px, rgba(255, 255, 255, 0.678), 1863px, 861px, rgba(255, 255, 255, 0.678), 1295px, 813px, rgba(255, 255, 255, 0.678), 1589px, 316px, rgba(255, 255, 255, 0.678), 1823px, 180px, rgba(255, 255, 255, 0.678), 1727px, 104px, rgba(255, 255, 255, 0.678), 1861px, 415px, rgba(255, 255, 255, 0.678), 887px, 607px, rgba(255, 255, 255, 0.678), 1365px, 964px, rgba(255, 255, 255, 0.678), 1159px, 361px, rgba(255, 255, 255, 0.678), 623px, 446px, rgba(255, 255, 255, 0.678), 1308px, 829px, rgba(255, 255, 255, 0.678), 1489px, 354px, rgba(255, 255, 255, 0.678), 288px, 349px, rgba(255, 255, 255, 0.678), 654px, 107px, rgba(255, 255, 255, 0.678), 1330px, 566px, rgba(255, 255, 255, 0.678), 1178px, 287px, rgba(255, 255, 255, 0.678), 1427px, 963px, rgba(255, 255, 255, 0.678), 1620px, 627px, rgba(255, 255, 255, 0.678), 680px, 365px, rgba(255, 255, 255, 0.678), 1386px, 204px, rgba(255, 255, 255, 0.678), 1464px, 43px, rgba(255, 255, 255, 0.678), 323px, 568px, rgba(255, 255, 255, 0.678), 1247px, 197px, rgba(255, 255, 255, 0.678), 635px, 41px, rgba(255, 255, 255, 0.678), 469px, 972px, rgba(255, 255, 255, 0.678), 1858px, 970px, rgba(255, 255, 255, 0.678), 851px, 851px, rgba(255, 255, 255, 0.678), 1396px, 69px, rgba(255, 255, 255, 0.678), 634px, 671px, rgba(255, 255, 255, 0.678), 982px, 784px, rgba(255, 255, 255, 0.678), 795px, 957px, rgba(255, 255, 255, 0.678), 749px, 728px, rgba(255, 255, 255, 0.678), 758px, 154px, rgba(255, 255, 255, 0.678), 1009px, 522px, rgba(255, 255, 255, 0.678), 1391px, 695px, rgba(255, 255, 255, 0.678), 1502px, 673px, rgba(255, 255, 255, 0.678), 1612px, 521px, rgba(255, 255, 255, 0.678), 1161px, 498px, rgba(255, 255, 255, 0.678), 973px, 848px, rgba(255, 255, 255, 0.678), 1869px, 771px, rgba(255, 255, 255, 0.678), 495px, 420px, rgba(255, 255, 255, 0.678), 1520px, 451px, rgba(255, 255, 255, 0.678), 1889px, 19px, rgba(255, 255, 255, 0.678), 345px, 407px, rgba(255, 255, 255, 0.678), 240px, 882px, rgba(255, 255, 255, 0.678), 971px, 132px, rgba(255, 255, 255, 0.678), 58px, 255px, rgba(255, 255, 255, 0.678), 1161px, 184px, rgba(255, 255, 255, 0.678), 1918px, 669px, rgba(255, 255, 255, 0.678), 1255px, 95px, rgba(255, 255, 255, 0.678), 1004px, 674px, rgba(255, 255, 255, 0.678), 1868px, 291px, rgba(255, 255, 255, 0.678), 357px, 903px, rgba(255, 255, 255, 0.678), 1031px, 907px, rgba(255, 255, 255, 0.678), 561px, 397px, rgba(255, 255, 255, 0.678), 1810px, 273px, rgba(255, 255, 255, 0.678), 1263px, 901px, rgba(255, 255, 255, 0.678), 1726px, 772px, rgba(255, 255, 255, 0.678), 1791px, 723px, rgba(255, 255, 255, 0.678), 782px, 644px, rgba(255, 255, 255, 0.678), 408px, 928px, rgba(255, 255, 255, 0.678), 103px, 194px, rgba(255, 255, 255, 0.678), 888px, 407px, rgba(255, 255, 255, 0.678), 17px, 590px, rgba(255, 255, 255, 0.678), 980px, 97px, rgba(255, 255, 255, 0.678), 917px, 190px, rgba(255, 255, 255, 0.678), 310px, 141px, rgba(255, 255, 255, 0.678), 1427px, 153px, rgba(255, 255, 255, 0.678), 1506px, 246px, rgba(255, 255, 255, 0.678), 757px, 968px, rgba(255, 255, 255, 0.678), 1255px, 251px, rgba(255, 255, 255, 0.678), 84px, 55px, rgba(255, 255, 255, 0.678), 686px, 557px, rgba(255, 255, 255, 0.678), 217px, 998px, rgba(255, 255, 255, 0.678), 576px, 837px, rgba(255, 255, 255, 0.678), 1482px, 291px, rgba(255, 255, 255, 0.678), 1822px, 905px, rgba(255, 255, 255, 0.678), 103px, 116px, rgba(255, 255, 255, 0.678), 447px, 458px, rgba(255, 255, 255, 0.678), 287px, 674px, rgba(255, 255, 255, 0.678), 373px, 548px, rgba(255, 255, 255, 0.678), 1245px, 487px, rgba(255, 255, 255, 0.678), 379px, 641px, rgba(255, 255, 255, 0.678), 115px, 523px, rgba(255, 255, 255, 0.678), 825px, 761px, rgba(255, 255, 255, 0.678), 780px, 989px, rgba(255, 255, 255, 0.678), 1037px, 824px, rgba(255, 255, 255, 0.678), 1351px, 79px, rgba(255, 255, 255, 0.678), 354px, 536px, rgba(255, 255, 255, 0.678), 52px, 219px, rgba(255, 255, 255, 0.678), 886px, 334px, rgba(255, 255, 255, 0.678), 1163px, 60px, rgba(255, 255, 255, 0.678), 84px, 653px, rgba(255, 255, 255, 0.678), 541px, 372px, rgba(255, 255, 255, 0.678), 715px, 933px, rgba(255, 255, 255, 0.678), 738px, 679px, rgba(255, 255, 255, 0.678), 642px, 698px, rgba(255, 255, 255, 0.678), 1776px, 657px, rgba(255, 255, 255, 0.678), 1606px, 644px, rgba(255, 255, 255, 0.678), 1431px, 494px, rgba(255, 255, 255, 0.678), 1467px, 564px, rgba(255, 255, 255, 0.678), 439px, 913px, rgba(255, 255, 255, 0.678), 399px, 623px, rgba(255, 255, 255, 0.678), 55px, 616px, rgba(255, 255, 255, 0.678), 1241px, 298px, rgba(255, 255, 255, 0.678), 212px, 428px, rgba(255, 255, 255, 0.678), 1557px, 868px, rgba(255, 255, 255, 0.678), 179px, 306px, rgba(255, 255, 255, 0.678), 1863px, 790px, rgba(255, 255, 255, 0.678), 460px, 400px, rgba(255, 255, 255, 0.678), 36px, 645px, rgba(255, 255, 255, 0.678), 24px, 399px, rgba(255, 255, 255, 0.678), 414px, 993px, rgba(255, 255, 255, 0.678), 923px, 968px, rgba(255, 255, 255, 0.678), 890px, 279px, rgba(255, 255, 255, 0.678), 1090px, 467px, rgba(255, 255, 255, 0.678), 1812px, 376px, rgba(255, 255, 255, 0.678), 1450px, 208px, rgba(255, 255, 255, 0.678), 700px, 237px, rgba(255, 255, 255, 0.678), 1692px, 192px, rgba(255, 255, 255, 0.678), 560px, 845px, rgba(255, 255, 255, 0.678), 660px, 582px, rgba(255, 255, 255, 0.678), 1583px, 934px, rgba(255, 255, 255, 0.678), 229px, 499px, rgba(255, 255, 255, 0.678), 1202px, 59px, rgba(255, 255, 255, 0.678), 1056px, 910px, rgba(255, 255, 255, 0.678), 1856px, 143px, rgba(255, 255, 255, 0.678), 656px, 531px, rgba(255, 255, 255, 0.678), 1106px, 910px, rgba(255, 255, 255, 0.678), 1857px, 284px, rgba(255, 255, 255, 0.678), 1011px, 435px, rgba(255, 255, 255, 0.678), 454px, 964px, rgba(255, 255, 255, 0.678), 855px, 19px, rgba(255, 255, 255, 0.678), 1447px, 373px, rgba(255, 255, 255, 0.678), 992px, 936px, rgba(255, 255, 255, 0.678), 1308px, 30px, rgba(255, 255, 255, 0.678), 228px, 788px, rgba(255, 255, 255, 0.678), 776px, 700px, rgba(255, 255, 255, 0.678), 1793px, 72px, rgba(255, 255, 255, 0.678), 663px, 452px, rgba(255, 255, 255, 0.678), 13px, 348px, rgba(255, 255, 255, 0.678), 1663px, 685px, rgba(255, 255, 255, 0.678), 1154px, 348px, rgba(255, 255, 255, 0.678), 1068px, 969px, rgba(255, 255, 255, 0.678), 626px, 888px, rgba(255, 255, 255, 0.678), 401px, 849px, rgba(255, 255, 255, 0.678), 1398px, 222px, rgba(255, 255, 255, 0.678), 383px, 733px, rgba(255, 255, 255, 0.678), 1293px, 726px, rgba(255, 255, 255, 0.678), 1162px, 724px, rgba(255, 255, 255, 0.678), 256px, 824px, rgba(255, 255, 255, 0.678), 30px, 839px, rgba(255, 255, 255, 0.678), 1862px, 492px, rgba(255, 255, 255, 0.678), 276px, 177px, rgba(255, 255, 255, 0.678), 1604px, 255px, rgba(255, 255, 255, 0.678), 1857px, 482px, rgba(255, 255, 255, 0.678), 721px, 723px, rgba(255, 255, 255, 0.678), 849px, 831px, rgba(255, 255, 255, 0.678), 398px, 409px, rgba(255, 255, 255, 0.678), 890px, 398px, rgba(255, 255, 255, 0.678), 920px, 766px, rgba(255, 255, 255, 0.678), 1012px, 545px, rgba(255, 255, 255, 0.678), 245px, 915px, rgba(255, 255, 255, 0.678), 415px, 500px, rgba(255, 255, 255, 0.678), 1719px, 983px, rgba(255, 255, 255, 0.678), 789px, 13px, rgba(255, 255, 255, 0.678), 526px, 934px, rgba(255, 255, 255, 0.678), 700px, 689px, rgba(255, 255, 255, 0.678), 1820px, 265px, rgba(255, 255, 255, 0.678), 387px, 108px, rgba(255, 255, 255, 0.678), 1756px, 873px, rgba(255, 255, 255, 0.678), 297px, 393px, rgba(255, 255, 255, 0.678), 1499px, 321px, rgba(255, 255, 255, 0.678), 1730px, 134px, rgba(255, 255, 255, 0.678), 1354px, 728px, rgba(255, 255, 255, 0.678), 371px, 334px, rgba(255, 255, 255, 0.678), 1805px, 895px, rgba(255, 255, 255, 0.678), 450px, 697px, rgba(255, 255, 255, 0.678), 1781px, 775px, rgba(255, 255, 255, 0.678), 1323px, 711px, rgba(255, 255, 255, 0.678), 1656px, 456px, rgba(255, 255, 255, 0.678), 1570px, 194px, rgba(255, 255, 255, 0.678), 698px, 612px, rgba(255, 255, 255, 0.678), 1081px, 331px, rgba(255, 255, 255, 0.678), 172px, 655px, rgba(255, 255, 255, 0.678), 730px, 285px, rgba(255, 255, 255, 0.678), 1669px, 787px, rgba(255, 255, 255, 0.678), 698px, 455px, rgba(255, 255, 255, 0.678), 1841px, 452px, rgba(255, 255, 255, 0.678), 143px, 577px, rgba(255, 255, 255, 0.678), 1772px, 398px, rgba(255, 255, 255, 0.678), 1480px, 496px, rgba(255, 255, 255, 0.678), 541px, 775px, rgba(255, 255, 255, 0.678), 1539px, 978px, rgba(255, 255, 255, 0.678), 1707px, 191px, rgba(255, 255, 255, 0.678), 1337px, 887px, rgba(255, 255, 255, 0.678), 74px, 662px, rgba(255, 255, 255, 0.678), 1309px, 678px, rgba(255, 255, 255, 0.678), 399px, 54px, rgba(255, 255, 255, 0.678), 753px, 877px, rgba(255, 255, 255, 0.678), 1422px, 940px, rgba(255, 255, 255, 0.678), 599px, 195px, rgba(255, 255, 255, 0.678), 1255px, 679px, rgba(255, 255, 255, 0.678), 1211px, 225px, rgba(255, 255, 255, 0.678), 1916px, 219px, rgba(255, 255, 255, 0.678), 275px, 198px, rgba(255, 255, 255, 0.678), 406px, 723px, rgba(255, 255, 255, 0.678), 1199px, 403px, rgba(255, 255, 255, 0.678), 383px, 199px, rgba(255, 255, 255, 0.678), 171px, 446px, rgba(255, 255, 255, 0.678), 1049px, 774px, rgba(255, 255, 255, 0.678), 1414px, 403px, rgba(255, 255, 255, 0.678), 229px, 825px, rgba(255, 255, 255, 0.678), 110px, 483px, rgba(255, 255, 255, 0.678), 718px, 58px, rgba(255, 255, 255, 0.678), 411px, 102px, rgba(255, 255, 255, 0.678), 229px, 634px, rgba(255, 255, 255, 0.678), 223px, 482px, rgba(255, 255, 255, 0.678), 432px, 201px, rgba(255, 255, 255, 0.678), 1087px, 578px, rgba(255, 255, 255, 0.678), 1680px, 759px, rgba(255, 255, 255, 0.678), 903px, 838px, rgba(255, 255, 255, 0.678), 957px, 730px, rgba(255, 255, 255, 0.678), 1800px, 103px, rgba(255, 255, 255, 0.678), 257px, 250px, rgba(255, 255, 255, 0.678), 466px, 959px, rgba(255, 255, 255, 0.678), 103px, 927px, rgba(255, 255, 255, 0.678), 1554px, 185px, rgba(255, 255, 255, 0.678), 1766px, 500px, rgba(255, 255, 255, 0.678), 996px, 970px, rgba(255, 255, 255, 0.678), 1375px, 778px, rgba(255, 255, 255, 0.678), 863px, 296px, rgba(255, 255, 255, 0.678), 1295px, 422px, rgba(255, 255, 255, 0.678), 1727px, 311px, rgba(255, 255, 255, 0.678), 413px, 96px, rgba(255, 255, 255, 0.678), 1338px, 225px, rgba(255, 255, 255, 0.678), 250px, 61px, rgba(255, 255, 255, 0.678), 1245px, 676px, rgba(255, 255, 255, 0.678), 1861px, 315px, rgba(255, 255, 255, 0.678), 486px, 635px, rgba(255, 255, 255, 0.678), 1032px, 362px, rgba(255, 255, 255, 0.678), 806px, 224px, rgba(255, 255, 255, 0.678), 770px, 242px, rgba(255, 255, 255, 0.678), 230px, 92px, rgba(255, 255, 255, 0.678), 106px, 262px, rgba(255, 255, 255, 0.678), 1589px, 938px, rgba(255, 255, 255, 0.678), 133px, 98px, rgba(255, 255, 255, 0.678), 770px, 977px, rgba(255, 255, 255, 0.678), 872px, 524px, rgba(255, 255, 255, 0.678), 1516px, 19px, rgba(255, 255, 255, 0.678), 1161px, 346px, rgba(255, 255, 255, 0.678), 16px, 311px, rgba(255, 255, 255, 0.678), 1261px, 156px, rgba(255, 255, 255, 0.678), 1810px, 651px, rgba(255, 255, 255, 0.678), 216px, 614px, rgba(255, 255, 255, 0.678), 1657px, 685px, rgba(255, 255, 255, 0.678), 757px, 270px, rgba(255, 255, 255, 0.678), 39px, 543px, rgba(255, 255, 255, 0.678), 1386px, 638px, rgba(255, 255, 255, 0.678), 1735px, 145px, rgba(255, 255, 255, 0.678), 737px, 978px, rgba(255, 255, 255, 0.678), 361px, 337px, rgba(255, 255, 255, 0.678), 1619px, 822px, rgba(255, 255, 255, 0.678), 300px, 141px, rgba(255, 255, 255, 0.678), 1008px, 447px, rgba(255, 255, 255, 0.678), 1369px, 51px, rgba(255, 255, 255, 0.678), 1448px, 32px, rgba(255, 255, 255, 0.678), 1475px, 968px, rgba(255, 255, 255, 0.678), 1761px, 594px, rgba(255, 255, 255, 0.678), 738px, 808px, rgba(255, 255, 255, 0.678), 285px, 657px, rgba(255, 255, 255, 0.678), 1566px, 665px, rgba(255, 255, 255, 0.678), 1401px, 553px, rgba(255, 255, 255, 0.678), 1750px, 298px, rgba(255, 255, 255, 0.678), 944px, 336px, rgba(255, 255, 255, 0.678), 597px, 798px, rgba(255, 255, 255, 0.678), 417px, 218px, rgba(255, 255, 255, 0.678), 1107px, 828px, rgba(255, 255, 255, 0.678), 1780px, 381px, rgba(255, 255, 255, 0.678), 995px, 654px, rgba(255, 255, 255, 0.678), 29px, 831px, rgba(255, 255, 255, 0.678), 234px, 572px, rgba(255, 255, 255, 0.678), 1747px, 844px, rgba(255, 255, 255, 0.678), 1909px, 182px, rgba(255, 255, 255, 0.678), 848px, 257px, rgba(255, 255, 255, 0.678), 1844px, 738px, rgba(255, 255, 255, 0.678), 163px, 585px, rgba(255, 255, 255, 0.678), 1000px, 216px, rgba(255, 255, 255, 0.678), 1302px, 377px, rgba(255, 255, 255, 0.678), 1592px, 970px, rgba(255, 255, 255, 0.678), 955px, 557px, rgba(255, 255, 255, 0.678), 23px, 988px, rgba(255, 255, 255, 0.678), 425px, 986px, rgba(255, 255, 255, 0.678), 396px, 651px, rgba(255, 255, 255, 0.678), 901px, 492px, rgba(255, 255, 255, 0.678), 1664px, 373px, rgba(255, 255, 255, 0.678), 1797px, 759px, rgba(255, 255, 255, 0.678), 244px, 916px, rgba(255, 255, 255, 0.678), 1044px, 232px, rgba(255, 255, 255, 0.678), 1575px, 796px, rgba(255, 255, 255, 0.678), 625px, 274px, rgba(255, 255, 255, 0.678), 394px, 761px, rgba(255, 255, 255, 0.678), 256px, 796px, rgba(255, 255, 255, 0.678), 470px, 721px, rgba(255, 255, 255, 0.678), 1448px, 992px, rgba(255, 255, 255, 0.678), 1551px, 245px, rgba(255, 255, 255, 0.678), 1844px, 885px, rgba(255, 255, 255, 0.678), 535px, 589px, rgba(255, 255, 255, 0.678), 38px, 665px, rgba(255, 255, 255, 0.678), 1711px, 563px, rgba(255, 255, 255, 0.678), 1187px, 606px, rgba(255, 255, 255, 0.678), 139px, 548px, rgba(255, 255, 255, 0.678), 1267px, 27px, rgba(255, 255, 255, 0.678), 818px, 921px, rgba(255, 255, 255, 0.678), 1563px, 84px, rgba(255, 255, 255, 0.678), 255px, 694px, rgba(255, 255, 255, 0.678), 1020px, 724px, rgba(255, 255, 255, 0.678), 891px, 68px, rgba(255, 255, 255, 0.678), 1310px, 354px, rgba(255, 255, 255, 0.678), 802px, 390px, rgba(255, 255, 255, 0.678), 592px, 602px, rgba(255, 255, 255, 0.678), 1851px, 956px, rgba(255, 255, 255, 0.678), 1273px, 73px, rgba(255, 255, 255, 0.678), 1455px, 836px, rgba(255, 255, 255, 0.678), 1877px, 13px, rgba(255, 255, 255, 0.678), 1058px, 571px, rgba(255, 255, 255, 0.678), 944px, 412px, rgba(255, 255, 255, 0.678), 409px, 137px, rgba(255, 255, 255, 0.678), 1293px, 299px, rgba(255, 255, 255, 0.678), 1534px, 281px, rgba(255, 255, 255, 0.678), 1307px, 629px, rgba(255, 255, 255, 0.678), 1438px, 358px, rgba(255, 255, 255, 0.678), 939px, 606px, rgba(255, 255, 255, 0.678), 140px, 238px, rgba(255, 255, 255, 0.678), 804px, 948px, rgba(255, 255, 255, 0.678), 839px, 450px, rgba(255, 255, 255, 0.678), 1552px, 682px, rgba(255, 255, 255, 0.678), 1779px, 31px, rgba(255, 255, 255, 0.678), 1146px, 125px, rgba(255, 255, 255, 0.678), 1886px, 220px, rgba(255, 255, 255, 0.678), 1018px, 472px, rgba(255, 255, 255, 0.678), 479px, 865px, rgba(255, 255, 255, 0.678), 1591px, 215px, rgba(255, 255, 255, 0.678), 1882px, 885px, rgba(255, 255, 255, 0.678), 1182px, 655px, rgba(255, 255, 255, 0.678), 1215px, 216px, rgba(255, 255, 255, 0.678), 1300px, 305px, rgba(255, 255, 255, 0.678), 492px, 712px, rgba(255, 255, 255, 0.678), 1687px, 341px, rgba(255, 255, 255, 0.678), 1419px, 737px, rgba(255, 255, 255, 0.678), 1729px, 297px, rgba(255, 255, 255, 0.678), 1462px, 583px, rgba(255, 255, 255, 0.678), 994px, 27px, rgba(255, 255, 255, 0.678), 480px, 180px, rgba(255, 255, 255, 0.678), 1611px, 536px, rgba(255, 255, 255, 0.678), 1011px, 804px, rgba(255, 255, 255, 0.678), 1517px, 257px, rgba(255, 255, 255, 0.678), 1836px, 62px, rgba(255, 255, 255, 0.678), 1746px, 832px, rgba(255, 255, 255, 0.678), 736px, 762px, rgba(255, 255, 255, 0.678), 1278px, 98px, rgba(255, 255, 255, 0.678), 991px, 998px, rgba(255, 255, 255, 0.678), 1406px, 384px, rgba(255, 255, 255, 0.678), 1390px, 949px, rgba(255, 255, 255, 0.678), 1084px, 87px, rgba(255, 255, 255, 0.678), 663px, 997px, rgba(255, 255, 255, 0.678), 767px, 566px, rgba(255, 255, 255, 0.678), 1756px, 156px, rgba(255, 255, 255, 0.678), 783px, 371px, rgba(255, 255, 255, 0.678), 1260px, 681px, rgba(255, 255, 255, 0.678), 1726px, 60px, rgba(255, 255, 255, 0.678), 300px, 644px, rgba(255, 255, 255, 0.678), 1313px, 731px, rgba(255, 255, 255, 0.678), 1213px, 596px, rgba(255, 255, 255, 0.678), 713px, 642px, rgba(255, 255, 255, 0.678), 214px, 431px, rgba(255, 255, 255, 0.678), 1016px, 442px, rgba(255, 255, 255, 0.678), 869px, 439px, rgba(255, 255, 255, 0.678), 1799px, 58px, rgba(255, 255, 255, 0.678), 1244px, 406px, rgba(255, 255, 255, 0.678), 281px, 135px, rgba(255, 255, 255, 0.678), 1597px, 288px, rgba(255, 255, 255, 0.678);
  z-index: 0;
}

.simple-star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgb(214, 214, 214);
  z-index: 0;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 15px rgb(255, 255, 255);
  }
}
.meteor-1 {
  position: absolute;
  top: 62px;
  left: 16%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.15s linear infinite;
  animation-delay: 14s;
}
.meteor-1::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 181px;
  left: 19%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.55s linear infinite;
  animation-delay: 9s;
}
.meteor-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 181px;
  left: 42%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.75s linear infinite;
  animation-delay: 10s;
}
.meteor-3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 100px;
  left: 83%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.6s linear infinite;
  animation-delay: 1s;
}
.meteor-4::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 211px;
  left: 67%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3s linear infinite;
  animation-delay: 9s;
}
.meteor-5::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 252px;
  left: 72%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.55s linear infinite;
  animation-delay: 9s;
}
.meteor-6::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 201px;
  left: 41%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.35s linear infinite;
  animation-delay: 11s;
}
.meteor-7::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 43px;
  left: 51%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.05s linear infinite;
  animation-delay: 15s;
}
.meteor-8::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 129px;
  left: 52%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.6s linear infinite;
  animation-delay: 7s;
}
.meteor-9::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 161px;
  left: 47%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.6s linear infinite;
  animation-delay: 2s;
}
.meteor-10::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 81px;
  left: 73%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.6s linear infinite;
  animation-delay: 10s;
}
.meteor-11::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 218px;
  left: 53%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.8s linear infinite;
  animation-delay: 5s;
}
.meteor-12::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 280px;
  left: 25%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.4s linear infinite;
  animation-delay: 7s;
}
.meteor-13::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 199px;
  left: 26%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.3s linear infinite;
  animation-delay: 12s;
}
.meteor-14::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 271px;
  left: 92%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.3s linear infinite;
  animation-delay: 14s;
}
.meteor-15::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 122px;
  left: 74%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.1s linear infinite;
  animation-delay: 9s;
}
.meteor-16::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 129px;
  left: 38%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.75s linear infinite;
  animation-delay: 11s;
}
.meteor-17::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 98px;
  left: 32%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.8s linear infinite;
  animation-delay: 8s;
}
.meteor-18::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 153px;
  left: 82%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.45s linear infinite;
  animation-delay: 8s;
}
.meteor-19::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 197px;
  left: 58%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.5s linear infinite;
  animation-delay: 13s;
}
.meteor-20::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 250px;
  left: 47%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.3s linear infinite;
  animation-delay: 10s;
}
.meteor-21::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 235px;
  left: 95%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.1s linear infinite;
  animation-delay: 9s;
}
.meteor-22::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-23 {
  position: absolute;
  top: 92px;
  left: 83%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.35s linear infinite;
  animation-delay: 9s;
}
.meteor-23::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-24 {
  position: absolute;
  top: 122px;
  left: 96%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.1s linear infinite;
  animation-delay: 12s;
}
.meteor-24::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-25 {
  position: absolute;
  top: 162px;
  left: 36%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.1s linear infinite;
  animation-delay: 4s;
}
.meteor-25::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-26 {
  position: absolute;
  top: 186px;
  left: 61%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.9s linear infinite;
  animation-delay: 7s;
}
.meteor-26::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-27 {
  position: absolute;
  top: 45px;
  left: 89%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.3s linear infinite;
  animation-delay: 6s;
}
.meteor-27::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-28 {
  position: absolute;
  top: 181px;
  left: 47%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.45s linear infinite;
  animation-delay: 5s;
}
.meteor-28::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-29 {
  position: absolute;
  top: 256px;
  left: 28%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 5s linear infinite;
  animation-delay: 12s;
}
.meteor-29::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-30 {
  position: absolute;
  top: 253px;
  left: 90%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.2s linear infinite;
  animation-delay: 9s;
}
.meteor-30::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-31 {
  position: absolute;
  top: 183px;
  left: 79%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.8s linear infinite;
  animation-delay: 1s;
}
.meteor-31::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-32 {
  position: absolute;
  top: 167px;
  left: 77%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.5s linear infinite;
  animation-delay: 7s;
}
.meteor-32::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-33 {
  position: absolute;
  top: 146px;
  left: 43%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.85s linear infinite;
  animation-delay: 10s;
}
.meteor-33::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-34 {
  position: absolute;
  top: 254px;
  left: 97%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.4s linear infinite;
  animation-delay: 11s;
}
.meteor-34::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-35 {
  position: absolute;
  top: 90px;
  left: 25%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.4s linear infinite;
  animation-delay: 8s;
}
.meteor-35::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-left: 300px;
    margin-top: -300px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: -300px;
    margin-top: 300px;
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */