@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: "Hubot Sans", serif;
  color: #959da3;
}

.Main-Card {
  color: #333;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 35%;
  height: 80%;
  border: 3px solid #3b3939;
  z-index: 1;
  box-shadow: 0 0 10px #3b3939; /* Added blur to border */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Added blur to the background */
}

.Name-Image {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -185%);
  padding: 20px;
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.Info-Panel {
  z-index: 2;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -185%);
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  height: 20%;
  border-top: 2px solid #555252;
}

.Text-Before-Main {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 24px;
  padding-top: -20px;
  margin-bottom: -5px;
}

.Text-Ul_Decor {
  padding-left: 60px;
  padding-top: -20px;
}

#Name {
  position: absolute;
  font-size: 5.5rem;
  font-weight: 650;
  padding-left: 140px;
  top: -32px; /* Adjust this value to move the text further up or down */
}

#Name-Text-Up, #Info-Text-Up {
  font-weight: 362;
  padding-left: 24px;
  text-decoration-line: underline;
}

#Info {
  position: absolute;
  padding-left: 35px;
  top: 30px;
}

p {
  font-size: 1.05rem;
  font-weight: 800;
}

#Avatar-Image {
  width: 120px;
  height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border-radius: 50%;
  overflow: hidden;
  user-drag: none;
}

html, body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(184, 69, 88), rgb(54, 53, 53));
  z-index: -1;
}

.star {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 229px, 606px, rgba(255, 255, 255, 0.678), 1248px, 589px, rgba(255, 255, 255, 0.678), 1704px, 738px, rgba(255, 255, 255, 0.678), 996px, 79px, rgba(255, 255, 255, 0.678), 1384px, 231px, rgba(255, 255, 255, 0.678), 1855px, 832px, rgba(255, 255, 255, 0.678), 1537px, 49px, rgba(255, 255, 255, 0.678), 1697px, 922px, rgba(255, 255, 255, 0.678), 1901px, 121px, rgba(255, 255, 255, 0.678), 1793px, 54px, rgba(255, 255, 255, 0.678), 476px, 345px, rgba(255, 255, 255, 0.678), 470px, 220px, rgba(255, 255, 255, 0.678), 1136px, 819px, rgba(255, 255, 255, 0.678), 1336px, 619px, rgba(255, 255, 255, 0.678), 893px, 337px, rgba(255, 255, 255, 0.678), 1563px, 440px, rgba(255, 255, 255, 0.678), 911px, 153px, rgba(255, 255, 255, 0.678), 1468px, 955px, rgba(255, 255, 255, 0.678), 742px, 406px, rgba(255, 255, 255, 0.678), 1008px, 184px, rgba(255, 255, 255, 0.678), 205px, 393px, rgba(255, 255, 255, 0.678), 1657px, 181px, rgba(255, 255, 255, 0.678), 548px, 943px, rgba(255, 255, 255, 0.678), 284px, 243px, rgba(255, 255, 255, 0.678), 1597px, 655px, rgba(255, 255, 255, 0.678), 1225px, 349px, rgba(255, 255, 255, 0.678), 879px, 333px, rgba(255, 255, 255, 0.678), 844px, 768px, rgba(255, 255, 255, 0.678), 1224px, 883px, rgba(255, 255, 255, 0.678), 1282px, 237px, rgba(255, 255, 255, 0.678), 839px, 314px, rgba(255, 255, 255, 0.678), 318px, 189px, rgba(255, 255, 255, 0.678), 57px, 641px, rgba(255, 255, 255, 0.678), 1814px, 517px, rgba(255, 255, 255, 0.678), 1497px, 594px, rgba(255, 255, 255, 0.678), 223px, 857px, rgba(255, 255, 255, 0.678), 1045px, 182px, rgba(255, 255, 255, 0.678), 90px, 316px, rgba(255, 255, 255, 0.678), 1811px, 381px, rgba(255, 255, 255, 0.678), 1873px, 876px, rgba(255, 255, 255, 0.678), 1784px, 141px, rgba(255, 255, 255, 0.678), 1686px, 566px, rgba(255, 255, 255, 0.678), 832px, 590px, rgba(255, 255, 255, 0.678), 1512px, 196px, rgba(255, 255, 255, 0.678), 1625px, 421px, rgba(255, 255, 255, 0.678), 848px, 502px, rgba(255, 255, 255, 0.678), 1601px, 515px, rgba(255, 255, 255, 0.678), 915px, 154px, rgba(255, 255, 255, 0.678), 1873px, 6px, rgba(255, 255, 255, 0.678), 1869px, 542px, rgba(255, 255, 255, 0.678), 1835px, 773px, rgba(255, 255, 255, 0.678), 1234px, 137px, rgba(255, 255, 255, 0.678), 239px, 127px, rgba(255, 255, 255, 0.678), 1792px, 183px, rgba(255, 255, 255, 0.678), 1763px, 608px, rgba(255, 255, 255, 0.678), 726px, 394px, rgba(255, 255, 255, 0.678), 1613px, 670px, rgba(255, 255, 255, 0.678), 550px, 823px, rgba(255, 255, 255, 0.678), 1147px, 409px, rgba(255, 255, 255, 0.678), 465px, 880px, rgba(255, 255, 255, 0.678), 46px, 704px, rgba(255, 255, 255, 0.678), 1227px, 441px, rgba(255, 255, 255, 0.678), 912px, 258px, rgba(255, 255, 255, 0.678), 1701px, 217px, rgba(255, 255, 255, 0.678), 1107px, 151px, rgba(255, 255, 255, 0.678), 952px, 327px, rgba(255, 255, 255, 0.678), 1004px, 786px, rgba(255, 255, 255, 0.678), 1265px, 189px, rgba(255, 255, 255, 0.678), 1165px, 105px, rgba(255, 255, 255, 0.678), 901px, 442px, rgba(255, 255, 255, 0.678), 176px, 801px, rgba(255, 255, 255, 0.678), 68px, 653px, rgba(255, 255, 255, 0.678), 334px, 790px, rgba(255, 255, 255, 0.678), 833px, 150px, rgba(255, 255, 255, 0.678), 1503px, 340px, rgba(255, 255, 255, 0.678), 1112px, 578px, rgba(255, 255, 255, 0.678), 170px, 418px, rgba(255, 255, 255, 0.678), 1403px, 428px, rgba(255, 255, 255, 0.678), 405px, 397px, rgba(255, 255, 255, 0.678), 1873px, 871px, rgba(255, 255, 255, 0.678), 1913px, 366px, rgba(255, 255, 255, 0.678), 646px, 109px, rgba(255, 255, 255, 0.678), 804px, 626px, rgba(255, 255, 255, 0.678), 1781px, 957px, rgba(255, 255, 255, 0.678), 696px, 81px, rgba(255, 255, 255, 0.678), 612px, 482px, rgba(255, 255, 255, 0.678), 1850px, 409px, rgba(255, 255, 255, 0.678), 1896px, 315px, rgba(255, 255, 255, 0.678), 1439px, 630px, rgba(255, 255, 255, 0.678), 1560px, 924px, rgba(255, 255, 255, 0.678), 200px, 370px, rgba(255, 255, 255, 0.678), 1731px, 814px, rgba(255, 255, 255, 0.678), 421px, 980px, rgba(255, 255, 255, 0.678), 41px, 168px, rgba(255, 255, 255, 0.678), 521px, 583px, rgba(255, 255, 255, 0.678), 632px, 28px, rgba(255, 255, 255, 0.678), 1801px, 633px, rgba(255, 255, 255, 0.678), 789px, 998px, rgba(255, 255, 255, 0.678), 1555px, 83px, rgba(255, 255, 255, 0.678), 301px, 181px, rgba(255, 255, 255, 0.678), 586px, 608px, rgba(255, 255, 255, 0.678), 924px, 457px, rgba(255, 255, 255, 0.678), 1589px, 532px, rgba(255, 255, 255, 0.678), 189px, 670px, rgba(255, 255, 255, 0.678), 445px, 82px, rgba(255, 255, 255, 0.678), 1695px, 664px, rgba(255, 255, 255, 0.678), 1475px, 323px, rgba(255, 255, 255, 0.678), 1039px, 610px, rgba(255, 255, 255, 0.678), 1868px, 33px, rgba(255, 255, 255, 0.678), 480px, 173px, rgba(255, 255, 255, 0.678), 1611px, 885px, rgba(255, 255, 255, 0.678), 783px, 142px, rgba(255, 255, 255, 0.678), 487px, 301px, rgba(255, 255, 255, 0.678), 1768px, 696px, rgba(255, 255, 255, 0.678), 212px, 694px, rgba(255, 255, 255, 0.678), 1383px, 974px, rgba(255, 255, 255, 0.678), 1399px, 813px, rgba(255, 255, 255, 0.678), 1455px, 298px, rgba(255, 255, 255, 0.678), 1548px, 448px, rgba(255, 255, 255, 0.678), 1579px, 410px, rgba(255, 255, 255, 0.678), 768px, 657px, rgba(255, 255, 255, 0.678), 1047px, 797px, rgba(255, 255, 255, 0.678), 1525px, 728px, rgba(255, 255, 255, 0.678), 1822px, 174px, rgba(255, 255, 255, 0.678), 1894px, 37px, rgba(255, 255, 255, 0.678), 1322px, 301px, rgba(255, 255, 255, 0.678), 577px, 12px, rgba(255, 255, 255, 0.678), 61px, 487px, rgba(255, 255, 255, 0.678), 1667px, 471px, rgba(255, 255, 255, 0.678), 774px, 818px, rgba(255, 255, 255, 0.678), 680px, 114px, rgba(255, 255, 255, 0.678), 1417px, 345px, rgba(255, 255, 255, 0.678), 1469px, 32px, rgba(255, 255, 255, 0.678), 1082px, 293px, rgba(255, 255, 255, 0.678), 165px, 880px, rgba(255, 255, 255, 0.678), 1880px, 221px, rgba(255, 255, 255, 0.678), 696px, 870px, rgba(255, 255, 255, 0.678), 211px, 275px, rgba(255, 255, 255, 0.678), 1011px, 953px, rgba(255, 255, 255, 0.678), 1860px, 551px, rgba(255, 255, 255, 0.678), 551px, 836px, rgba(255, 255, 255, 0.678), 1204px, 170px, rgba(255, 255, 255, 0.678), 253px, 282px, rgba(255, 255, 255, 0.678), 1278px, 806px, rgba(255, 255, 255, 0.678), 235px, 698px, rgba(255, 255, 255, 0.678), 862px, 668px, rgba(255, 255, 255, 0.678), 1910px, 294px, rgba(255, 255, 255, 0.678), 684px, 414px, rgba(255, 255, 255, 0.678), 1087px, 624px, rgba(255, 255, 255, 0.678), 1881px, 314px, rgba(255, 255, 255, 0.678), 1549px, 333px, rgba(255, 255, 255, 0.678), 273px, 20px, rgba(255, 255, 255, 0.678), 1051px, 430px, rgba(255, 255, 255, 0.678), 651px, 178px, rgba(255, 255, 255, 0.678), 283px, 228px, rgba(255, 255, 255, 0.678), 1479px, 144px, rgba(255, 255, 255, 0.678), 126px, 426px, rgba(255, 255, 255, 0.678), 983px, 723px, rgba(255, 255, 255, 0.678), 529px, 974px, rgba(255, 255, 255, 0.678), 427px, 497px, rgba(255, 255, 255, 0.678), 1533px, 904px, rgba(255, 255, 255, 0.678), 514px, 251px, rgba(255, 255, 255, 0.678), 206px, 129px, rgba(255, 255, 255, 0.678), 86px, 140px, rgba(255, 255, 255, 0.678), 972px, 507px, rgba(255, 255, 255, 0.678), 1312px, 807px, rgba(255, 255, 255, 0.678), 238px, 602px, rgba(255, 255, 255, 0.678), 117px, 899px, rgba(255, 255, 255, 0.678), 896px, 877px, rgba(255, 255, 255, 0.678), 240px, 130px, rgba(255, 255, 255, 0.678), 1187px, 705px, rgba(255, 255, 255, 0.678), 576px, 330px, rgba(255, 255, 255, 0.678), 244px, 810px, rgba(255, 255, 255, 0.678), 766px, 630px, rgba(255, 255, 255, 0.678), 1080px, 588px, rgba(255, 255, 255, 0.678), 338px, 621px, rgba(255, 255, 255, 0.678), 716px, 975px, rgba(255, 255, 255, 0.678), 12px, 980px, rgba(255, 255, 255, 0.678), 939px, 53px, rgba(255, 255, 255, 0.678), 981px, 937px, rgba(255, 255, 255, 0.678), 630px, 937px, rgba(255, 255, 255, 0.678), 1843px, 773px, rgba(255, 255, 255, 0.678), 1548px, 171px, rgba(255, 255, 255, 0.678), 1081px, 739px, rgba(255, 255, 255, 0.678), 400px, 674px, rgba(255, 255, 255, 0.678), 77px, 902px, rgba(255, 255, 255, 0.678), 248px, 531px, rgba(255, 255, 255, 0.678), 43px, 854px, rgba(255, 255, 255, 0.678), 851px, 75px, rgba(255, 255, 255, 0.678), 1355px, 515px, rgba(255, 255, 255, 0.678), 1032px, 465px, rgba(255, 255, 255, 0.678), 456px, 914px, rgba(255, 255, 255, 0.678), 295px, 558px, rgba(255, 255, 255, 0.678), 1400px, 541px, rgba(255, 255, 255, 0.678), 980px, 971px, rgba(255, 255, 255, 0.678), 1635px, 16px, rgba(255, 255, 255, 0.678), 141px, 175px, rgba(255, 255, 255, 0.678), 1049px, 573px, rgba(255, 255, 255, 0.678), 1181px, 728px, rgba(255, 255, 255, 0.678), 86px, 372px, rgba(255, 255, 255, 0.678), 1385px, 770px, rgba(255, 255, 255, 0.678), 629px, 719px, rgba(255, 255, 255, 0.678), 84px, 705px, rgba(255, 255, 255, 0.678), 636px, 534px, rgba(255, 255, 255, 0.678), 1208px, 456px, rgba(255, 255, 255, 0.678), 959px, 978px, rgba(255, 255, 255, 0.678), 1522px, 176px, rgba(255, 255, 255, 0.678), 980px, 159px, rgba(255, 255, 255, 0.678), 629px, 987px, rgba(255, 255, 255, 0.678), 197px, 559px, rgba(255, 255, 255, 0.678), 1086px, 297px, rgba(255, 255, 255, 0.678), 986px, 545px, rgba(255, 255, 255, 0.678), 704px, 89px, rgba(255, 255, 255, 0.678), 1423px, 791px, rgba(255, 255, 255, 0.678), 1740px, 871px, rgba(255, 255, 255, 0.678), 1641px, 134px, rgba(255, 255, 255, 0.678), 1060px, 753px, rgba(255, 255, 255, 0.678), 1321px, 411px, rgba(255, 255, 255, 0.678), 1091px, 54px, rgba(255, 255, 255, 0.678), 1029px, 849px, rgba(255, 255, 255, 0.678), 742px, 780px, rgba(255, 255, 255, 0.678), 1495px, 151px, rgba(255, 255, 255, 0.678), 937px, 638px, rgba(255, 255, 255, 0.678), 545px, 563px, rgba(255, 255, 255, 0.678), 1502px, 125px, rgba(255, 255, 255, 0.678), 569px, 630px, rgba(255, 255, 255, 0.678), 26px, 916px, rgba(255, 255, 255, 0.678), 331px, 509px, rgba(255, 255, 255, 0.678), 1215px, 256px, rgba(255, 255, 255, 0.678), 512px, 555px, rgba(255, 255, 255, 0.678), 771px, 552px, rgba(255, 255, 255, 0.678), 643px, 811px, rgba(255, 255, 255, 0.678), 532px, 41px, rgba(255, 255, 255, 0.678), 324px, 368px, rgba(255, 255, 255, 0.678), 1538px, 356px, rgba(255, 255, 255, 0.678), 1566px, 740px, rgba(255, 255, 255, 0.678), 719px, 375px, rgba(255, 255, 255, 0.678), 1213px, 928px, rgba(255, 255, 255, 0.678), 612px, 873px, rgba(255, 255, 255, 0.678), 1677px, 573px, rgba(255, 255, 255, 0.678), 380px, 805px, rgba(255, 255, 255, 0.678), 247px, 479px, rgba(255, 255, 255, 0.678), 461px, 129px, rgba(255, 255, 255, 0.678), 1717px, 370px, rgba(255, 255, 255, 0.678), 173px, 712px, rgba(255, 255, 255, 0.678), 1732px, 661px, rgba(255, 255, 255, 0.678), 1657px, 511px, rgba(255, 255, 255, 0.678), 928px, 447px, rgba(255, 255, 255, 0.678), 1801px, 513px, rgba(255, 255, 255, 0.678), 744px, 368px, rgba(255, 255, 255, 0.678), 723px, 905px, rgba(255, 255, 255, 0.678), 1650px, 580px, rgba(255, 255, 255, 0.678), 1317px, 145px, rgba(255, 255, 255, 0.678), 1490px, 480px, rgba(255, 255, 255, 0.678), 456px, 655px, rgba(255, 255, 255, 0.678), 438px, 203px, rgba(255, 255, 255, 0.678), 214px, 555px, rgba(255, 255, 255, 0.678), 992px, 770px, rgba(255, 255, 255, 0.678), 253px, 667px, rgba(255, 255, 255, 0.678), 36px, 885px, rgba(255, 255, 255, 0.678), 455px, 734px, rgba(255, 255, 255, 0.678), 1648px, 139px, rgba(255, 255, 255, 0.678), 507px, 592px, rgba(255, 255, 255, 0.678), 882px, 755px, rgba(255, 255, 255, 0.678), 955px, 130px, rgba(255, 255, 255, 0.678), 262px, 281px, rgba(255, 255, 255, 0.678), 1755px, 146px, rgba(255, 255, 255, 0.678), 582px, 466px, rgba(255, 255, 255, 0.678), 1114px, 8px, rgba(255, 255, 255, 0.678), 164px, 156px, rgba(255, 255, 255, 0.678), 1166px, 963px, rgba(255, 255, 255, 0.678), 973px, 550px, rgba(255, 255, 255, 0.678), 281px, 620px, rgba(255, 255, 255, 0.678), 1523px, 588px, rgba(255, 255, 255, 0.678), 989px, 833px, rgba(255, 255, 255, 0.678), 144px, 411px, rgba(255, 255, 255, 0.678), 154px, 114px, rgba(255, 255, 255, 0.678), 29px, 790px, rgba(255, 255, 255, 0.678), 975px, 84px, rgba(255, 255, 255, 0.678), 215px, 93px, rgba(255, 255, 255, 0.678), 244px, 732px, rgba(255, 255, 255, 0.678), 1199px, 890px, rgba(255, 255, 255, 0.678), 288px, 424px, rgba(255, 255, 255, 0.678), 501px, 447px, rgba(255, 255, 255, 0.678), 598px, 601px, rgba(255, 255, 255, 0.678), 597px, 646px, rgba(255, 255, 255, 0.678), 1817px, 965px, rgba(255, 255, 255, 0.678), 1328px, 399px, rgba(255, 255, 255, 0.678), 691px, 691px, rgba(255, 255, 255, 0.678), 363px, 238px, rgba(255, 255, 255, 0.678), 985px, 266px, rgba(255, 255, 255, 0.678), 675px, 80px, rgba(255, 255, 255, 0.678), 662px, 215px, rgba(255, 255, 255, 0.678), 809px, 536px, rgba(255, 255, 255, 0.678), 240px, 610px, rgba(255, 255, 255, 0.678), 1362px, 459px, rgba(255, 255, 255, 0.678), 929px, 739px, rgba(255, 255, 255, 0.678), 524px, 28px, rgba(255, 255, 255, 0.678), 876px, 542px, rgba(255, 255, 255, 0.678), 1736px, 310px, rgba(255, 255, 255, 0.678), 1480px, 150px, rgba(255, 255, 255, 0.678), 1351px, 981px, rgba(255, 255, 255, 0.678), 722px, 519px, rgba(255, 255, 255, 0.678), 659px, 141px, rgba(255, 255, 255, 0.678), 1218px, 116px, rgba(255, 255, 255, 0.678), 1169px, 290px, rgba(255, 255, 255, 0.678), 1646px, 575px, rgba(255, 255, 255, 0.678), 417px, 390px, rgba(255, 255, 255, 0.678), 1124px, 795px, rgba(255, 255, 255, 0.678), 859px, 96px, rgba(255, 255, 255, 0.678), 1722px, 2px, rgba(255, 255, 255, 0.678), 1688px, 399px, rgba(255, 255, 255, 0.678), 802px, 763px, rgba(255, 255, 255, 0.678), 1659px, 697px, rgba(255, 255, 255, 0.678), 890px, 627px, rgba(255, 255, 255, 0.678), 229px, 845px, rgba(255, 255, 255, 0.678), 1901px, 472px, rgba(255, 255, 255, 0.678), 1194px, 210px, rgba(255, 255, 255, 0.678), 764px, 587px, rgba(255, 255, 255, 0.678), 1276px, 512px, rgba(255, 255, 255, 0.678), 1559px, 102px, rgba(255, 255, 255, 0.678), 1014px, 526px, rgba(255, 255, 255, 0.678), 1472px, 366px, rgba(255, 255, 255, 0.678), 1403px, 610px, rgba(255, 255, 255, 0.678), 1486px, 610px, rgba(255, 255, 255, 0.678), 1562px, 241px, rgba(255, 255, 255, 0.678), 1355px, 611px, rgba(255, 255, 255, 0.678), 996px, 736px, rgba(255, 255, 255, 0.678), 638px, 75px, rgba(255, 255, 255, 0.678), 582px, 249px, rgba(255, 255, 255, 0.678), 1688px, 816px, rgba(255, 255, 255, 0.678), 667px, 73px, rgba(255, 255, 255, 0.678), 1170px, 173px, rgba(255, 255, 255, 0.678), 173px, 952px, rgba(255, 255, 255, 0.678), 864px, 830px, rgba(255, 255, 255, 0.678), 376px, 173px, rgba(255, 255, 255, 0.678), 1304px, 384px, rgba(255, 255, 255, 0.678), 845px, 298px, rgba(255, 255, 255, 0.678), 1483px, 449px, rgba(255, 255, 255, 0.678), 1798px, 50px, rgba(255, 255, 255, 0.678), 375px, 348px, rgba(255, 255, 255, 0.678), 1581px, 848px, rgba(255, 255, 255, 0.678), 169px, 62px, rgba(255, 255, 255, 0.678), 11px, 213px, rgba(255, 255, 255, 0.678), 1490px, 747px, rgba(255, 255, 255, 0.678), 1547px, 557px, rgba(255, 255, 255, 0.678), 529px, 1000px, rgba(255, 255, 255, 0.678), 995px, 209px, rgba(255, 255, 255, 0.678), 1576px, 460px, rgba(255, 255, 255, 0.678), 1276px, 27px, rgba(255, 255, 255, 0.678), 543px, 547px, rgba(255, 255, 255, 0.678), 1670px, 442px, rgba(255, 255, 255, 0.678), 1754px, 426px, rgba(255, 255, 255, 0.678), 1139px, 99px, rgba(255, 255, 255, 0.678), 446px, 813px, rgba(255, 255, 255, 0.678), 1044px, 899px, rgba(255, 255, 255, 0.678), 1418px, 529px, rgba(255, 255, 255, 0.678), 1228px, 552px, rgba(255, 255, 255, 0.678), 1462px, 485px, rgba(255, 255, 255, 0.678), 1313px, 337px, rgba(255, 255, 255, 0.678), 1647px, 210px, rgba(255, 255, 255, 0.678), 1774px, 556px, rgba(255, 255, 255, 0.678), 878px, 351px, rgba(255, 255, 255, 0.678), 320px, 783px, rgba(255, 255, 255, 0.678), 1634px, 888px, rgba(255, 255, 255, 0.678), 161px, 95px, rgba(255, 255, 255, 0.678), 947px, 629px, rgba(255, 255, 255, 0.678), 363px, 528px, rgba(255, 255, 255, 0.678), 240px, 714px, rgba(255, 255, 255, 0.678), 1503px, 893px, rgba(255, 255, 255, 0.678), 579px, 932px, rgba(255, 255, 255, 0.678), 292px, 964px, rgba(255, 255, 255, 0.678), 1099px, 26px, rgba(255, 255, 255, 0.678), 164px, 903px, rgba(255, 255, 255, 0.678), 252px, 8px, rgba(255, 255, 255, 0.678), 1348px, 785px, rgba(255, 255, 255, 0.678), 1002px, 791px, rgba(255, 255, 255, 0.678), 634px, 935px, rgba(255, 255, 255, 0.678), 501px, 383px, rgba(255, 255, 255, 0.678), 1131px, 285px, rgba(255, 255, 255, 0.678), 836px, 19px, rgba(255, 255, 255, 0.678), 1001px, 539px, rgba(255, 255, 255, 0.678), 426px, 289px, rgba(255, 255, 255, 0.678), 874px, 297px, rgba(255, 255, 255, 0.678), 55px, 406px, rgba(255, 255, 255, 0.678), 93px, 996px, rgba(255, 255, 255, 0.678), 1879px, 282px, rgba(255, 255, 255, 0.678), 650px, 247px, rgba(255, 255, 255, 0.678), 1516px, 366px, rgba(255, 255, 255, 0.678), 352px, 454px, rgba(255, 255, 255, 0.678), 397px, 741px, rgba(255, 255, 255, 0.678), 571px, 175px, rgba(255, 255, 255, 0.678), 1088px, 305px, rgba(255, 255, 255, 0.678), 277px, 776px, rgba(255, 255, 255, 0.678), 1259px, 400px, rgba(255, 255, 255, 0.678), 1222px, 939px, rgba(255, 255, 255, 0.678), 436px, 111px, rgba(255, 255, 255, 0.678), 1724px, 251px, rgba(255, 255, 255, 0.678), 1524px, 879px, rgba(255, 255, 255, 0.678), 1500px, 37px, rgba(255, 255, 255, 0.678);
  z-index: 0;
}

.simple-star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgb(214, 214, 214);
  z-index: 0;
  animation: twinkle 2s infinite;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 15px rgb(255, 255, 255);
  }
}
.meteor-1 {
  position: absolute;
  top: 145px;
  left: 51%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.1s linear infinite;
  animation-delay: 10s;
}
.meteor-1::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 245px;
  left: 70%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.1s linear infinite;
  animation-delay: 2s;
}
.meteor-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 174px;
  left: 72%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.3s linear infinite;
  animation-delay: 11s;
}
.meteor-3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 217px;
  left: 18%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.6s linear infinite;
  animation-delay: 6s;
}
.meteor-4::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 259px;
  left: 99%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.55s linear infinite;
  animation-delay: 10s;
}
.meteor-5::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 53px;
  left: 52%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.5s linear infinite;
  animation-delay: 2s;
}
.meteor-6::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 183px;
  left: 98%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.05s linear infinite;
  animation-delay: 10s;
}
.meteor-7::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 97px;
  left: 56%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.2s linear infinite;
  animation-delay: 11s;
}
.meteor-8::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 204px;
  left: 76%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.25s linear infinite;
  animation-delay: 4s;
}
.meteor-9::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 229px;
  left: 90%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.3s linear infinite;
  animation-delay: 4s;
}
.meteor-10::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 45px;
  left: 37%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.15s linear infinite;
  animation-delay: 4s;
}
.meteor-11::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 150px;
  left: 59%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.5s linear infinite;
  animation-delay: 10s;
}
.meteor-12::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 211px;
  left: 65%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.65s linear infinite;
  animation-delay: 14s;
}
.meteor-13::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 154px;
  left: 58%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.9s linear infinite;
  animation-delay: 11s;
}
.meteor-14::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 52px;
  left: 68%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.4s linear infinite;
  animation-delay: 3s;
}
.meteor-15::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 168px;
  left: 93%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4s linear infinite;
  animation-delay: 12s;
}
.meteor-16::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 208px;
  left: 90%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.4s linear infinite;
  animation-delay: 1s;
}
.meteor-17::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 105px;
  left: 36%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.55s linear infinite;
  animation-delay: 9s;
}
.meteor-18::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 136px;
  left: 10%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4s linear infinite;
  animation-delay: 5s;
}
.meteor-19::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 254px;
  left: 70%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.85s linear infinite;
  animation-delay: 3s;
}
.meteor-20::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 45px;
  left: 68%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.75s linear infinite;
  animation-delay: 12s;
}
.meteor-21::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 114px;
  left: 39%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.1s linear infinite;
  animation-delay: 12s;
}
.meteor-22::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-23 {
  position: absolute;
  top: 118px;
  left: 22%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.05s linear infinite;
  animation-delay: 15s;
}
.meteor-23::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-24 {
  position: absolute;
  top: 250px;
  left: 22%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.35s linear infinite;
  animation-delay: 10s;
}
.meteor-24::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-25 {
  position: absolute;
  top: 245px;
  left: 48%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4s linear infinite;
  animation-delay: 15s;
}
.meteor-25::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-26 {
  position: absolute;
  top: 59px;
  left: 53%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 2.35s linear infinite;
  animation-delay: 14s;
}
.meteor-26::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-27 {
  position: absolute;
  top: 200px;
  left: 60%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.7s linear infinite;
  animation-delay: 13s;
}
.meteor-27::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-28 {
  position: absolute;
  top: 105px;
  left: 68%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.45s linear infinite;
  animation-delay: 12s;
}
.meteor-28::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-29 {
  position: absolute;
  top: 170px;
  left: 41%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.95s linear infinite;
  animation-delay: 10s;
}
.meteor-29::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-30 {
  position: absolute;
  top: 180px;
  left: 14%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 4.7s linear infinite;
  animation-delay: 14s;
}
.meteor-30::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-31 {
  position: absolute;
  top: 222px;
  left: 16%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.8s linear infinite;
  animation-delay: 5s;
}
.meteor-31::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-32 {
  position: absolute;
  top: 225px;
  left: 67%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.25s linear infinite;
  animation-delay: 3s;
}
.meteor-32::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-33 {
  position: absolute;
  top: 243px;
  left: 59%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.6s linear infinite;
  animation-delay: 4s;
}
.meteor-33::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-34 {
  position: absolute;
  top: 206px;
  left: 50%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.65s linear infinite;
  animation-delay: 11s;
}
.meteor-34::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-35 {
  position: absolute;
  top: 226px;
  left: 28%;
  width: 300px;
  height: 1px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  opacity: 0;
  animation: meteor 3.6s linear infinite;
  animation-delay: 11s;
}
.meteor-35::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background-image: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-left: 300px;
    margin-top: -300px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: -300px;
    margin-top: 300px;
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */